@import "tailwindcss";
@import "@heroui/styles";

@theme {
    --font-sans: 'Open Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
    --font-oswald: 'Oswald';
    --color-main: #2f2f2f;
    --color-main-hover: #2f2f2f;
    --color-primary: #e7000b;
    --color-primary-hover: #b5030c;
    --color-secondary: #ff6467;
    --color-text-secondary: #d1d5dc;
    --color-my-border: #757575;
}

@layer components {
    .table__cell {
        @apply bg-main transition-colors;
    }
}

:root {
    --accent: var(--color-primary);
}

body {
    background-image: url("../icons/s1.svg");
}

/* контейнер пагинации */
.swiper-pagination {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

/* ВЕРТИКАЛЬНЫЙ режим */
.swiper-pagination.vertical {
    flex-direction: column;
}

/* базовый буллет */
.custom-bullet {
    width: 8px;
    height: 8px;
    border-radius: 999px;

    background: rgba(255, 255, 255, 0.25);
    transition: all 0.2s ease;
    cursor: pointer;
}

/* hover */
.custom-bullet:hover {
    background: rgba(255, 255, 255, 0.5);
    transform: scale(1.2);
}

/* активный буллет (горизонтальный стиль) */
.swiper-pagination.horizontal .custom-bullet.active {
    width: 18px;
    height: 8px;
    background: var(--color-primary);
}

/* активный буллет (вертикальный стиль) */
.swiper-pagination.vertical .custom-bullet.active {
    width: 8px;
    height: 18px;
    background: var(--color-primary);
}