@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap");
nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 1.5rem;
  flex-wrap: nowrap;
}
nav a {
  padding: 0.5em 0.7em;
  color: #D1D5DC;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease, color 0.3s ease, padding 0.3s ease;
  position: relative;
}
nav a:hover {
  background-color: rgba(231, 0, 11, 0.2);
}
nav a::after {
  width: 0.5rem;
  height: 0.5rem;
  display: block;
  background-color: #FF6467;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  content: "";
  opacity: 0;
  transition: opacity 0.3s ease;
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
}
nav a.active {
  padding: 0.5em 1.2em 0.5em 0.7em;
  color: #FF6467;
}
nav a.active::after {
  opacity: 1;
}

header {
  width: 100%;
  padding: 0.5rem 0;
  background-color: rgba(47, 47, 47, 0.95);
  border-bottom: 0.1rem solid rgba(231, 0, 11, 0.4);
  backdrop-filter: blur(5px);
  z-index: 2;
  position: sticky;
  top: 0;
  left: 0;
}
header .header-wrapper {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 0;
  flex-wrap: nowrap;
}
header .header-wrapper .logo span {
  font-size: 3rem;
  font-weight: 700;
}
header .header-wrapper .logo span:first-child {
  color: #E7000B;
}

.banner {
  width: 100vw;
  height: 55vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: row;
  gap: 0;
  flex-wrap: nowrap;
}
.banner .content {
  width: 100%;
  height: 100%;
  padding: 1rem 1rem 3.2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  gap: 1.2rem;
  flex-wrap: nowrap;
  background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  backdrop-filter: blur(1px);
}
.banner .content .type {
  width: fit-content;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 0.8rem;
  flex-wrap: nowrap;
  background-color: #FF6467;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  border-radius: 1.5rem;
}
.banner .content .type img {
  width: 2rem;
  height: 2rem;
}
.banner .content .type span {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}
.banner .content .text * {
  text-align: center;
}
.banner .content .text h4 {
  font-weight: 700;
}
.banner .content .btn {
  padding: 0.5em 1em;
  color: #FFF;
  background-color: #E7000B;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  border-radius: 2rem;
  font-size: 2rem;
  box-shadow: 0 0 1rem rgba(231, 0, 11, 0.5);
  transition: transform 0.3s ease;
}
.banner .content .btn:active {
  transform: scale(0.95);
}

.btn {
  width: fit-content;
  height: fit-content;
  display: block;
  outline: none;
  border: none;
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
}

.menu-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 2rem;
}
.menu-wrapper .menu-item {
  min-height: 15rem;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: column;
  gap: 0;
  flex-wrap: nowrap;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  border-radius: 0.8rem;
  overflow: hidden;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.menu-wrapper .menu-item.active {
  box-shadow: 0 0 1.5rem rgba(231, 0, 11, 0.5);
  animation: bounce 0.6s ease-out alternate;
}
@keyframes bounce {
  50% {
    transform: translateY(-0.4rem) rotate(1deg);
  }
  75% {
    transform: translateY(-0.2rem) rotate(-1deg);
  }
}
.menu-wrapper .menu-item .top {
  padding: 1rem;
}
.menu-wrapper .menu-item .top .icon {
  width: 3.5rem;
  height: 3.5rem;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  border-radius: 0.8rem;
  backdrop-filter: blur(5px);
}
.menu-wrapper .menu-item .top .icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.menu-wrapper .menu-item .bottom {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: nowrap;
  background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0));
}
.menu-wrapper .menu-item .bottom .play {
  width: 3rem;
  height: 3rem;
  padding: 0.7rem;
  background-color: #FF6467;
  outline: none;
  border: none;
  -webkit-border-radius: 0.7rem;
  -moz-border-radius: 0.7rem;
  border-radius: 0.7rem;
}
.menu-wrapper .menu-item .bottom .play.animate {
  animation: scale 0.5s ease 4 alternate;
}
@keyframes scale {
  to {
    transform: scale(1.1);
  }
}
.menu-wrapper .menu-item .bottom .play img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.menu-wrapper .menu-item .bottom .play img.animate {
  animation: scale 0.5s ease 4 alternate;
}
@keyframes scale {
  to {
    transform: scale(1.1);
  }
}

footer {
  width: 100%;
  padding: 0.5rem 0 1.5rem;
  margin-top: auto;
  background-color: #222222;
}
footer p {
  font-size: 1.3rem;
}
footer .footer-wrapper {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  flex-wrap: nowrap;
}
footer .footer-wrapper .top {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  flex-wrap: nowrap;
}
footer .footer-wrapper .top div {
  width: 100%;
}
footer .footer-wrapper .top div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 0;
  flex-wrap: nowrap;
}
footer .footer-wrapper .top div:first-child .logo span {
  font-size: 3rem;
  font-weight: 700;
}
footer .footer-wrapper .top div:first-child .logo span:first-child {
  color: #E7000B;
}
footer .footer-wrapper .top div:nth-child(2) {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  flex-wrap: nowrap;
}
footer .footer-wrapper .top div:nth-child(3) {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  flex-wrap: nowrap;
}
footer .footer-wrapper .top div:nth-child(3) .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1.5rem;
  flex-wrap: nowrap;
}
footer .footer-wrapper .top div:nth-child(3) .icons img {
  width: 3rem;
  height: 3rem;
}
footer .footer-wrapper hr {
  width: 100%;
  border: none;
  border-top: 0.1rem solid rgba(231, 0, 11, 0.4);
}
footer .footer-wrapper .bottom {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
  flex-wrap: wrap;
}
footer .footer-wrapper .bottom a {
  color: rgba(209, 213, 220, 0.7);
}
footer .footer-wrapper .bottom div {
  width: 0.5rem;
  height: 0.5rem;
  background-color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.show-menu-item {
  width: 100vw;
  height: 100vh;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
}
.show-menu-item .swiper {
  height: 100%;
}

.card {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0;
  flex-wrap: nowrap;
  position: relative;
}
.card .card-bg {
  width: 100%;
  height: 100%;
  filter: blur(1px);
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}
.card .card-number {
  width: 10rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0;
  flex-wrap: nowrap;
  color: #D1D5DC;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.card .card-content {
  padding: 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  flex-wrap: nowrap;
}
.card .card-content h2, .card .card-content p {
  text-align: center;
}
.card .card-content h2 {
  font-family: "Oswald", sans-serif;
}
.card .card-content .btn {
  padding: 0.5em 1em;
  color: #FFF;
  background-color: #E7000B;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  border-radius: 2rem;
  font-size: 2rem;
  box-shadow: 0 0 1rem rgba(231, 0, 11, 0.5);
  transition: transform 0.3s ease;
}
.card .card-content .btn:active {
  transform: scale(0.95);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  color: #FFF;
  font: 10px "Open Sans", "sans-serif";
}

body {
  min-height: 100vh;
  background-color: #2F2F2F;
}

#root {
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 0;
  flex-wrap: nowrap;
}

main {
  width: 90%;
  margin-bottom: 2.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 2.5rem;
  flex-wrap: nowrap;
}

h1 {
  font-size: 4.8rem;
  font-weight: 700;
}

h2, h3, h4, h5, h6 {
  font-weight: 500;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3.3rem;
}

h4 {
  font-size: 2.8rem;
}

h5 {
  font-size: 2.3rem;
}

h6 {
  font-size: 1.9rem;
}

p, a {
  font-weight: 400;
}

p {
  font-size: 1.6rem;
}

a {
  font-size: 1.3rem;
  text-decoration: none;
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
  flex-wrap: nowrap;
}
.swiper-pagination .custom-pagination {
  width: 1rem;
  height: 1rem;
  display: block;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}
.swiper-pagination .custom-pagination.active {
  background-color: #FFF;
}

/*# sourceMappingURL=main.css.map */
