.btn {
  width: fit-content;
  height: fit-content;

  padding: .5em 1em;

  display: block;

  color: $white;
  background-color: $red;

  outline: none;
  border: none;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  border-radius: 2rem;

  font-size: $fontSize;
  font-weight: 500;

  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  box-shadow: 0 0 1rem rgba($red, .5);
  transition: transform .3s ease;

  &:active {
    transform: scale(.95);
  }
}