.btn {
  width: fit-content;
  height: fit-content;

  padding: .7em 1em;

  display: block;

  color: $white;
  background-color: $red2;

  outline: none;
  border: none;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;

  font-size: $fontSize;
  font-weight: 500;

  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform .3s ease, background-color .3s ease, color .3s ease;

  &:not(:disabled):active {
    transform: scale(.95);
  }

  &:disabled {
    color: rgba($white, .5);
    background-color: rgba($red2, .5);

    &:active {
      animation: disabledAnim .2s ease;

      @keyframes disabledAnim {
        0% {
          transform: translateX(0);
        }

        50% {
          transform: translateX(-.5rem);
        }

        100% {
          transform: translateX(.5rem);
        }
      }
    }
  }

  &.loading {
    position: relative;
  }

  &.cta {
    background-color: $red;

    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    border-radius: 2rem;

    font-size: 2rem;

    box-shadow: 0 0 1rem rgba($red, .5);
  }

  &.cancel {
    background-color: $background;

    border: .1rem solid $gray2;
  }
}