.card {
  width: 100%;
  height: 100%;

  @include flex(center, center, column);

  position: relative;

  .card-bg {
    width: 100%;
    height: 100%;

    filter: blur(1px);

    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
  }

  .card-number {
    width: 10rem;
    height: 10rem;

    @include flex(center, center);

    color: $gray;
    background-color: rgba(0, 0, 0, .4);

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }

  .card-content {
    padding: 2rem;

    @include flex(flex-end, center, column, 2rem);

    h2, p {
      text-align: center;
    }

    h2 {
      font-family: "Oswald", sans-serif;
    }

    .btn {
      font-size: 2rem;
    }
  }
}