header {
  width: 100%;

  padding: .5rem 0;

  background-color: $headerBackground;

  border-bottom: .1rem solid rgba($red, .4);

  backdrop-filter: blur(5px);

  z-index: 2;
  position: sticky;
  top: 0;
  left: 0;

  .header-wrapper {
    width: $width;

    margin: 0 auto;

    @include flex(space-between, center);

    .logo {
      span {
        font-size: 3rem;
        font-weight: 700;

        &:first-child {
          color: $red;
        }
      }
    }
  }
}
