.modal {
  width: 100%;
  height: 100dvh;

  background-color: transparent;

  pointer-events: none;
  transition: background-color 1s ease;

  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;

  &.active {
    background-color: rgba(0, 0, 0, .5);
    pointer-events: auto;
  }

  form {
    padding: 2rem 2rem 4rem;

    background-color: $background;

    transform: translateY(110%);
    transition: transform 1.2s ease .5s;

    &.active {
      transform: translateY(0);
    }

    &.closing {
      transition: transform 1.2s ease;
    }

    .steps-progress {
      @include flex($fd: column, $g: 1rem);

      .steps-name {
        @include flex(space-between);

        p {
          color: $gray2;

          font-weight: 500;

          transition: color 1s ease;
        }
      }

      .steps-progress-bar {
        width: 100%;
        height: .4rem;

        background-color: $gray2;

        border-radius: 10rem;

        overflow: hidden;

        position: relative;

        &::after {
          width: 0;
          height: 100%;

          background-color: $red2;

          content: '';
          transition: width 1s ease;

          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }

    .title {
      @include flex($ai: center, $fd: column, $g: 1rem);

      .icon {
        width: 6.4rem;
        height: 6.4rem;

        @include flex(center, center);

        background-color: $red2;

        border-radius: 50%;

        img {
          width: 3.2rem;
          height: 3.2rem;
        }
      }
    }

    .step-container {
      width: 100%;
      min-height: 0;

      flex: 1;

      overflow: hidden;

      position: relative;
    }

    .buttons {
      @include flex($jc: flex-end, $fd: column, $g: 1.5rem);
      flex: 0 0 auto;
    }
  }
}

.step {
  width: 100%;

  opacity: 1;
  pointer-events: none;

  z-index: 1;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  &.entering {
    pointer-events: auto;

    z-index: 2;
  }

  &.slide-in-right {
    transform: translateX(-50%) translateX(100%);
    animation: slideInRight 0.8s ease forwards;

    @keyframes slideInRight {
      from {
        transform: translateX(-50%) translateX(calc(100% + 2rem));
        opacity: 0;
      }
      to {
        transform: translateX(-50%) translateX(0);
        opacity: 1;
      }
    }
  }

  &.slide-out-left {
    transform: translateX(-50%) translateX(0);
    animation: slideOutLeft 0.8s ease forwards;

    @keyframes slideOutLeft {
      from {
        transform: translateX(-50%) translateX(0);
        opacity: 1;
      }
      to {
        transform: translateX(-50%) translateX(calc(-100% - 2rem));
        opacity: 0;
      }
    }
  }

  &.slide-in-left {
    transform: translateX(-50%) translateX(-100%);
    animation: slideInLeft 0.8s ease forwards;

    @keyframes slideInLeft {
      from {
        transform: translateX(-50%) translateX(calc(-100% - 2rem));
        opacity: 0;
      }
      to {
        transform: translateX(-50%) translateX(0);
        opacity: 1;
      }
    }
  }

  &.slide-out-right {
    transform: translateX(-50%) translateX(0);
    animation: slideOutRight 0.8s ease forwards;

    @keyframes slideOutRight {
      from {
        transform: translateX(-50%) translateX(0);
        opacity: 1;
      }
      to {
        transform: translateX(-50%) translateX(calc(100% + 2rem));
        opacity: 0;
      }
    }
  }
}