nav {
  @include flex($ai: center, $g: 1.5rem);

  a {
    padding: .5em .7em;

    color: $gray;

    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    border-radius: .5rem;

    transition: background-color .3s ease, color .3s ease, padding .3s ease;

    position: relative;

    &:hover {
      background-color: rgba($red, .2);
    }

    &::after {
      width: .5rem;
      height: .5rem;

      display: block;

      background-color: $red2;

      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;

      content: '';
      opacity: 0;
      transition: opacity .3s ease;

      position: absolute;
      top: 50%;
      right: .5rem;
      transform: translateY(-50%);
    }

    &.active {
      padding: .5em 1.2em .5em .7em;

      color: $red2;

      &::after {
        opacity: 1;
      }
    }
  }
}