.page-loader {
  width: 100dvw;
  height: 100dvh;

  @include flex(center, center);

  background: $background url("../img/icons/S1.svg") repeat;

  z-index: 4;
  position: fixed;
  top: 0;
  left: 0;

  &.element {
    background: rgba(0, 0, 0, .8);
  }

  .page-loader-item {
    width: 6rem;
    height: 6rem;

    border: .5rem solid rgba($white, .5);
    border-top: .5rem solid $red2;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    animation: loader 1s linear infinite;
  }
}