#register .steps-progress {
  &.step-1 {
    .steps-progress-bar::after {
      width: 25%;
    }

    .steps-name p:first-child {
      color: $gray;
    }
  }

  &.step-2 {
    .steps-progress-bar::after {
      width: 67%;
    }

    .steps-name p:first-child,
    .steps-name p:nth-child(2) {
      color: $gray;
    }
  }

  &.step-3 {
    .steps-progress-bar::after {
      width: 100%;
    }

    .steps-name p:first-child,
    .steps-name p:nth-child(2),
    .steps-name p:last-child {
      color: $gray;
    }
  }
}
