$red: #E7000B;
$red2: #FF6467;
$white: #FFF;
$gray: #D1D5DC;
$background: #2F2F2F;
$headerBackground: rgba(47, 47, 47, .95);
$footerBackground: #222222;

$width: 90%;
$radius: .8rem;
$fontSize: 1.6rem;

@mixin flex($jc: flex-start, $ai: stretch, $fd: row, $g: 0, $fxw: no-wrap) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  flex-direction: $fd;
  gap: $g;
  flex-wrap: $fxw;
}
